@use '@cloudscape-design/design-tokens/index.scss' as awsui;

.tm-wrapper-left,
.tm-wrapper-right {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.tm-wrapper-left { flex-direction: row; }
.tm-wrapper-right { flex-direction: row-reverse; }
.tm-content { flex: 1; }

.tm-handle {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid awsui.$color-border-divider-default;
  border-right: 1px solid awsui.$color-border-divider-default;

  &:hover {
    background-color: awsui.$color-background-dropdown-item-hover;
  }
}
