.tm-collapse-panel {
  height: 100%;
  overflow-y: auto;
  width: 0;
  max-width: 400px;
  
  &.open {
    width: 40vw;

    // mobile
    @media screen and (max-width: 480px) {
      width: 85vw;
    }
  }
}

