.kpi-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.kpi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.kpi .asset-name {
  color: #414d5c;
  padding: 8px 8px 2px;
}

.kpi .value {
  font-weight: bold;
  padding: 8px 8px 2px;
}

.kpi .timestamp-container {
  color: #414d5c;
}

.kpi .timestamp-border {
  height: 2px;
}

.kpi .timestamp {
  padding: 8px;
  height: 18px;
}

.kpi .data-quality {
  padding: 4px 8px 2px;
}

.kpi-line-threshold {
  height: 100%;
  width: 16px;
}

.aggregation {
  padding: 8px;
}
