.updated-kpi-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.updated-kpi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.updated-kpi .property-name {
  font-weight: bold;
  color: #000716;
  padding: 8px 8px 2px;
}

.updated-kpi .asset-name {
  color: #414d5c;
  padding: 8px 8px 2px;
}

.updated-kpi .value {
  font-weight: bold;
  padding: 8px 8px 2px;
}

.updated-kpi .timestamp-container {
  color: #414d5c;
}

.updated-kpi .timestamp-border {
  height: 2px;
  background-color: #e9ebed;
}

.updated-kpi .timestamp {
  padding: 6px;
  height: 18px;
}

.kpi-line-threshold {
  height: 100%;
  width: 16px;
}

.aggregation {
  padding: 6px;
}
