.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
}

.react-resizable-handle-se {
  bottom: 0%;
  right: 0;
  cursor: ew-resize;
  background-image: url("./assets/horizontalSliderIcon.svg");
  background-position: center;
  border-left: 2px solid #e9ebed;
  border-right: 1px solid #e9ebed;
}

.bottom-position .react-resizable-handle-se {
  bottom: 0;
  left: 0;
  transform: translateX(0);
  width: 100%;
  z-index: 99;
  height: 20px;
  cursor: ns-resize;
  background-image: url("./assets/verticalSliderIcon.svg");
  border: unset;
  border-top: 2px solid #e9ebed;
  border-bottom: 1px solid #e9ebed;
}

.base-chart-element {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.base-chart-container,
.chart-rightlegend-container {
  display: flex;
  outline: none;
}

.base-chart-container.left-position {
  flex-direction: row-reverse;
}

.left-position .chart-rightlegend-container {
  padding-left: 20px;
}

.base-chart-container.bottom-position {
  flex-direction: column;
}

.left-position .react-resizable-handle-se {
  right: unset;
  left: 0;
  border: unset;
  border-right: 2px solid #e9ebed;
  border-left: 1px solid #e9ebed;
}

.base-chart-left-legend {
  display: flex;
}
