.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 85%;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-position: right;
}

.react-resizable-handle-se {
  bottom: 10%;
  right: 0;
  cursor: ew-resize;
  background-image: url("./assets/verticalSlider.svg");
  border-left: 2px solid #e9ebed;
}

.base-chart-element {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.base-chart-container {
  display: flex;
}

.base-chart-left-legend {
  display: flex;
}
