$background: #414750;
$border: #2a2e33;
$active-bg: #12293b;
$active-bg-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(18, 41, 59, 1) 38%, rgba(18, 41, 59, 1) 100%);
$active-highlight: #00a1c9;
$active-color: #ec7211;

@mixin selected {
  border-top: 1px solid $active-highlight;
  border-bottom: 1px solid $active-highlight;
  background: $active-bg;
}

.tm-hierarchy-panel {
  #tm-main {
    .tm-tree {
      .tm-tree-item.tm-sub-model {
        background-color: $background;

        .tm-tree-item-inner {
          .tm-scene-node-label {
            .tm-scene-node-label-inner {
              border-bottom: 1px solid $border;
              background-color: $background;
            }
          }

          .actions {
            background-color: $background; // fallback for gradient
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(65, 71, 80, 1) 29%, rgba(65, 71, 80, 1) 100%);
            display: flex;
            margin-top: -3px;
            margin-bottom: -1px;
            padding: 12px 12px 13px 50px;
            margin-left: -30px;
          }

          &:hover {
            margin-top: 0;

            .tm-scene-node-label {
              .tm-scene-node-label-inner {
                border: none;
                @include selected;
                margin-bottom: -1px;
                margin-top: -2px;
              }
            }

            button {
              color: $active-color;
            }
            .actions {
              background-color: $active-bg;
              background: $active-bg-gradient;
            }
          }
        }
      }
    }
  }
}
