@import "../../styles/variables.css";

.palette-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--colors-component-palette);
  fill: var(--colors-component-palette);
  stroke: var(--colors-component-palette);
  transition-property: color fill stroke;
  transition-duration: 250ms;
}

.palette-component:hover {
  color: var(--colors-component-palette-active);
  fill: var(--colors-component-palette-active);
  stroke: var(--colors-component-palette-active);
}

.palette-component:nth-child(n+2) {
  margin-left: 1rem;
}

.palette-component-name {
  color: inherit;
  font-size: var(--font-size-component-palette);
  margin: 0;
  margin-top: 0.25rem;
}

.palette-component-draggable {
  cursor: pointer;
}

.palette-component-dragging {
  opacity: 0.5;
}
