.tm-icon-picker-button {
  border-radius: 10px !important; // This overrides the AWSUI border-radius
  position: 'absolute';
  width: 100px;
  height: 32px;
}

.tm-color-picker-button {
    border-radius: 10px !important; // This overrides the AWSUI border-radius
    position: 'absolute';
    width: 210px;
    height: 32px;
}
