.tm-icon-picker-button {
  border-radius: 10px !important; // This overrides the AWSUI border-radius
  position: 'absolute';
  padding: 0%;
  width: 150px;
  height: 32px;
  display: 'flex';
  flex-wrap: nowrap;
}

.tm-color-picker-button {
    display: 'flex';
    border-radius: 10px !important; // This overrides the AWSUI border-radius
    position: 'absolute';
    width: 200px;
    height: 32px;
}
