# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: npm
    directory: /
    versioning-strategy: increase
    schedule:
      interval: weekly
      day: tuesday
    target-branch: rc
    # Disable auto version updates for npm dependencies temporarily
    open-pull-requests-limit: 0
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
      - dependency-name: '@react-three/*'
      - dependency-name: '3d-tiles-renderer'
      - dependency-name: 'three'
      - dependency-name: 'three-mesh-bvh'
      - dependency-name: 'three-stdlib'
      - dependency-name: '@awsui'

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    target-branch: rc
