build
build/
dist/
react/
www/
loader/
coverage/
screenshot

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
npm-debug.log
*.sublime-project
*.sublime-workspace
*.docx

.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

# Stencil Artifacts
.stencil/

# Cypress diffs
__diff_output__

# Cypress screenshots
**/cypress/screenshots
**/cypress/videos
**/cypress/snapshots/All Specs

# Local development hard-coded credentials for use with the AWS SDK.
creds.json

# NPM publish artifcats
packages/components/styles.css
packages/react-components/styles.css
**/NOTICE
**/LICENSE

# Storybook
storybook-static

# Playwright
playwright-report
test-results

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
