build
build/
dist/
react/
www/
loader/
coverage/
screenshot

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
npm-debug.log
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

# Stencil Artifacts
.stencil/

# Cypress diffs
__diff_output__

# Cypress screenshots
**/cypress/screenshots
**/cypress/videos
**/cypress/snapshots/All Specs

# Local development hard-coded credentials for use with the AWS SDK.
creds.json

# NPM publish artifcats
packages/components/styles.css
**/NOTICE
**/LICENSE
