.threshold-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.threshold-container > div {
  flex-grow: 1;
}

.threshold-container > div > div {
  display: flex;
  align-items: center;
}

.threshold-content-color-picker {
  width: 2.28rem;
  height: 1.57rem;
  border-radius: 0.57rem;
}

.threshold-container > div > div:last-child {
  flex-grow: 1;
  justify-content: end;
}

/* force labels of select options to have same width */
.threshold-container > div > div:nth-child(2) button > span:first-child {
  width: 1.5rem;
}
