@import "~@cloudscape-design/design-tokens/index";

.side-panel-input {
  display: flex;
  align-items: center;
  height: 100%;

  &.label {
    min-width: fit-content;
    padding-right: $space-scaled-xs;
  }

  &.with-gutter {
    padding-right: $space-scaled-xxs;
  }

  &.grow > * {
    flex-grow: 1;
  }
}

.threshold-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  justify-self: end;
}
