.dashboard-layout-container {
  height: calc(100vh - 160px);
  display: flex;
  width: 100%;
}

.dashboard-layout-center-pane-container {
  overflow: scroll;
  width: 100%;
  position: relative;
}

.dashboard-layout-config-container {
  z-index: 2;
  margin-left: auto;
  height: 100%;
}
