.iot-resizable-panes {
  display: grid;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.iot-resizable-panes-pane {
  overflow: hidden;
  position: relative;
}

.iot-resizable-panes-handle {
  background-color: var(--colors-light-grey);
  cursor: ew-resize;
}

.iot-resizable-panes-handle:hover {
  background-color: var(--colors-light-blue);
}
