:root {
  --selection-color: #0d99ff;
  --selection-color-secondary: #9cccef;
  --selection-bg-color: white;
  --selection-box-size: 12px;
  --selection-radius: 8px;
  --selection-border-width: 2px;
  --selection-border-touch-width: 8px;
  --selection-radius-small: 4px;
  --stack-order-grid-image: -999999999;
  --stack-order-selection-box: 2;
  --stack-order-grid: 1;
  --stack-order-grid-inputs: 2;
  --stack-order-context-menu: 3;
  --stack-order-drag-layer: 4;
  --colors-component-palette: #acb7b8;
  --colors-component-palette-active: #f2f2f2;
  --colors-white: white;
  --colors-black: black;
  --colors-blue: #0073bb;
  --colors-light-blue: rgb(135 206 235);
  --colors-dark-grey: rgb(27 27 27);
  --colors-grey: #7d8998;
  --colors-light-grey: #a0a9b4;
  --font-size-context-menu: 12px;
  --font-size-component-palette: 10px;
  --font-size-component-palette-title: 14px;
  --font-weight-context-menu: 400;
  --spacing-context-menu-option: 0.5rem 1rem;
  --spacing-context-menu-section: 0.5rem 0;
  --spacing-component-palette-icon: 8px;
  --border-width-context-menu-section: 0.5px;
  --border-width-component-palette-icon: 2px;
  --border-width-toolbar: 2px;
  --size-context-menu-min-width: 200px;
  --size-component-palette-icon: 22px;
  --size-text-link-edit-menu-min-width: 200px;
  --radius-context-menu: 3px;
  --radius-component-palette-icon: 8px;
  --toolbar-overlay-height: 94px;
}
