@import "../../../../styles/variables.css";

.text-widget {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.text-widget-bold {
  font-weight: bold;
}

.text-widget-italic {
  font-style: italic;
}

.text-widget-underline {
  text-decoration: underline;
}

.text-widget-placeholder {
  color: var(--colors-light-grey);
}

.text-widget-link {
  cursor: pointer;
}

.text-widget-link-wrapper {
  height: 100%;
  width: 100%;
}
