/* We are setting our testing ground's base font size to match Polaris, which currently has a 10px font-size */
html {
  font-size: 10px;
  font-family: 'Amazon Ember', Helvetica, Arial, sans-serif;
}

h2 {
  margin: 0;
  padding: 10px 0 0;
}

.control-container {
  display: flex;
}

.configuration-table {
  overflow-y: auto;
  margin: 5px 0;
}

.configuration-table th {
  text-align: left;
  padding-bottom: 3px;
}

.configurations {
  display: flex;
}

.configurations > div {
  padding-right: 2em;
}

.threshold-list-item-container,
.trend-line-list-item-container {
  padding: 3px 0;
}

.color-block {
  height: 12px;
  width: 12px;
}

monitor-demo .chart-container {
  margin-top: 10px;
}

monitor-demo .options {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

monitor-demo .options .option {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

monitor-demo .options .option input {
  margin-right: 2px;
}
