.threshold-display {
  display: flex;
  align-items: start;
}

.threshold-display-summary {
  flex-grow: 1;
  display: flex;
}

.threshold-configuration {
  display: grid;
  grid-template-columns: max-content 1fr 1fr 60px 0.5fr 0.3fr;
  align-items: center;
}
