@import "../../variables.css";

.iot-context-menu-placement {
  position: absolute;
}

.iot-context-menu {
  min-width: var(--size-context-menu-min-width);
  border-radius: var(--selection-radius-small);
  background-color: var(--colors-dark-grey);
  z-index: var(--stack-order-context-menu);
}
