.iot-dashboard-assistant-chatbot-button {
  position: fixed;
  right: 20px;
  top: 88px;
  z-index: 1;
  padding: 0.5rem;
  cursor: pointer;
}

.iot-dashboard-assistant-chatbot-button:hover {
  animation: pulse 1s;
}

.iot-dashboard-assistant-chatbot-button button {
  border: none;
  background: none;
  cursor: pointer;
}

.iot-dashboard-assistant-chatbot {
  position: fixed;
  right: 0;
  width: 35rem;
  padding: 0.5rem;
  z-index: 1;
}

.iot-dashboard-assistant-chatbot-hidden {
  display: none;
}
