.stencil-resource-explorer {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.stencil-resource-explorer-tree {
  flex-grow: 1;
  border-bottom: var(--border-width-toolbar) solid var(--colors-light-grey);
  overflow: hidden;
  overflow-y: scroll;
}

.stencil-resource-explorer-assets {
  flex-grow: 1;
  overflow-y: scroll;
}
