.stencil-resource-explorer {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.stencil-resource-explorer-tree {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.stencil-resource-explorer-assets {
  flex-grow: 1;
  overflow-y: auto;
}
