.expandable-section-header-icon {
  margin-left: auto;
}

.section-item-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  height: 100%;
}

.section-item-label {
  align-items: center;
  display: flex;
  height: 100%;
}

.justify-content-end {
  display: flex;
  justify-content: end;
}

.align-items-center {
  display: flex;
  align-items: center;
  height: 100%;
}

.expand-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
