/* CSS Overides for https://atomiks.github.io/tippyjs/ */

.tippy-tooltip.title-theme {
  font-family: var(--primary-font-family);
  background-color: #fff !important;
  color: #6a7070 !important;
  font-size: 1.125rem !important;
  border-radius: 2px !important;
  padding: 10px !important;
  width: 100% !important;
  word-wrap: break-word !important;
  display: flex !important;
  box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 33%) !important;
  box-sizing: border-box;
}

.tippy-arrow,
.tippy-arrow::before {
  position: absolute;
  width: 10px;
  height: 10px;
}

.tippy-arrow::before {
  content: "";
  transform: rotate(45deg);
  background: #fff;
}

/** Top Arrow */

.tippy-tooltip.title-theme[data-placement^="top"] > .tippy-arrow {
  bottom: -5px;
}

.tippy-tooltip.title-theme[data-placement^="top"] > .tippy-arrow::before {
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 33%);
}

/** Bottom Arrow */

.tippy-tooltip.title-theme[data-placement^="bottom"] > .tippy-arrow {
  top: -5px;
}

.tippy-tooltip.title-theme[data-placement^="bottom"] > .tippy-arrow::before {
  box-shadow: -1px -1px 2px 0 rgb(0 0 0 / 33%);
}

/** Left Arrow */

.tippy-tooltip.title-theme[data-placement^="left"] > .tippy-arrow {
  right: -5px;
}

.tippy-tooltip.title-theme[data-placement^="left"] > .tippy-arrow::before {
  box-shadow: 1px -1px 2px 0 rgb(0 0 0 / 33%);
}

/** Right Arrow */

.tippy-tooltip.title-theme[data-placement^="right"] > .tippy-arrow {
  left: -5px;
}

.tippy-tooltip.title-theme[data-placement^="right"] > .tippy-arrow::before {
  box-shadow: -1px 1px 2px 0 rgb(0 0 0 / 33%);
}
