.accordian-header [class*="awsui_expand-button"] {
  padding-left: 0.5rem;
  width: 100%;
}

.accordian-header [class*="awsui_header-text"] {
  width: 100%;
}

/* yAxis header  */
.yaxis-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
