:root {
  --primary-blue: #0972D3;
  --dark-gray: #9BA7B6;
  --light-gray: #c2c2c2;
}

.widget {
  border: 2px solid var(--dark-gray);
  border-radius: 8px;
  background-color: white;
  font-weight: bold;
  height: 100%;
  user-select: none;
  box-sizing: border-box;
}

.widget:hover {
  border-color: var(--primary-blue);
  cursor: all-scroll;
}

.widget-selected {
  background-color: #e7e6e6 !important;
  border-color: var(--primary-blue);
  font-weight: bold;
}

.widget-content {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
