@import "../../../../styles/variables.css";

.text-widget-link-wrapper {
  height: 100%;
  width: 100%;
}

.text-widget-link-edit-menu-wrapper {
  cursor: default;
  padding: 20px;
  min-width: var(--size-text-link-edit-menu-min-width);
}

.text-widget-link-edit-menu {
  display: flex;
  padding: 0.5rem;
  color: var(--colors-white);
  border-radius: var(--radius-context-menu);
  background-color: var(--colors-dark-grey);
}

.text-widget-link-edit {
  display: flex;
  column-gap: 1rem;
}

[data-text-button] {
  color: var(--colors-white) !important;
  background-color: transparent !important;
  white-space: nowrap !important;
  max-width: var(--size-text-link-edit-menu-min-width);
  text-overflow: ellipsis;
  overflow: hidden;
}

[data-text-form] label {
  color: var(--colors-white) !important;
}
