.iot-app-kit-assistant-button {
  border: 2px solid #6b40b2;
  background: white;
  color: #6b40b2;
}

.iot-app-kit-assistant-button:active {
  border: 2px solid #431d84;
  color: #431d84;
}

.iot-app-kit-assistant-button:hover:enabled {
  background: #ebebf0;
  color: #59309d;
}

.iot-app-kit-assistant-button:hover span {
  color: #59309d;
}

.iot-app-kit-assistant-button:active span {
  color: #431d84;
}
