$background: #2a2e33;
$background-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(42, 46, 51, 1) 38%, rgba(42, 46, 51, 1) 100%);
$background-hover: #414750;
$border: 1px solid $background;
$text-color: #d5dbdb;
$active-highlight: #00a1c9;
$active-bg: #12293b;
$active-bg-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(18, 41, 59, 1) 38%, rgba(18, 41, 59, 1) 100%);
$indent: 1rem;
$active-color: #ec7211;

@mixin selected {
  border-top: 1px solid $active-highlight;
  border-bottom: 1px solid $active-highlight;
  background: $active-bg;
}
@mixin selected-action {
  @include selected;
  background: $active-bg-gradient;
  margin-top: -1px;
  margin-bottom: -1px;
}
@mixin hover {
  @include selected;
  color: $active-color;
}

#tm-main {
  margin-bottom: 5px;

  .tm-tree {
    border-top: $border;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    user-select: none;

    &.drop,
    .drop {
      border-bottom: 3px solid #fff;
    }

    .tm-tree-item {
      padding-left: $indent * 2;
      border-top: 1px solid $background-hover;

      .tm-tree-item-inner {
        cursor: pointer;
        margin-left: -2rem;
        padding-left: 2rem;
        align-items: center;
        display: flex;

        input[type="radio"] {
          margin-right: 1rem;

          // styled to match Polaris: https://polaris.a2z.com/components/radio-group/
          &:checked {
            appearance: none;
            background-color: #fff;
            color: #fff;
            border: 4px solid #00a1c9;
            border-radius: 50%;
            padding: 3px;
          }
        }

        .tm-tree-item-expand-btn {
          min-width: unset;
        }

        .tm-scene-node-label {
          display: grid;
          grid-template-columns: repeat(20, 1fr);
          align-items: center;

          .tm-scene-node-label-inner {
            flex: 0 0 100%;
            padding: 16px 20px 16px 16px;
            padding-right: 20px;
            width: 100vw;
            margin: 0;
            white-space: nowrap;
          }

          .actions {
            background-color: var(--color-background-container-content-o88wxm, #ffffff); // fallback for gradient
            background: $background-gradient;
            position: sticky;
            right: 0;
            padding: 12px 10px 12px 20px;
            color: $active-color;
          }
        }

        &:hover {
          margin-top: -1px; // Cancells out movement from hover/selected border
          margin-bottom: 0px; // Cancells out movement from hover/selected border
          @include hover;

          .actions {
            @include selected-action;
            margin-top: -1px;
            margin-bottom: -1px;
            padding: 16px 10px 16px 20px;
          }

          .tm-visibility-toggle,
          .tm-tree-item-expand-btn {
            svg {
              color: $active-color;
            }
          }
        }

        &.selected {
          @include selected;

          .tm-scene-node-label-inner {
            border: none;
            @include selected;
            margin-top: -1px;
            margin-bottom: -1px;
          }

          .actions {
            @include selected-action;
            padding: 16px 10px 16px 50px;
            margin-left: -30px;
          }
        }
      }
    }

    // nested tree
    .tm-tree {
      border-top: none;
      position: initial;
      padding-left: 0;
      padding-bottom: 0;
    }
  }
}
