$background: #2a2e33;
$background-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(42, 46, 51, 1) 38%, rgba(42, 46, 51, 1) 100%);
$background-hover: #414750;
$border: 1px solid $background;
$text-color: #d5dbdb;
$active-highlight: #00a1c9;
$active-bg: #12293b;
$active-bg-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(18, 41, 59, 1) 38%, rgba(18, 41, 59, 1) 100%);
$indent: 1rem;
$active-color: #ec7211;

@mixin selected {
  border-top: 1px solid $active-highlight;
  border-bottom: 1px solid $active-highlight;
  background: $active-bg;
}
@mixin selected-action {
  @include selected;
  background: $active-bg-gradient;
  margin-top: -1px;
  margin-bottom: -1px;
}
@mixin hover {
  @include selected;
  color: $active-color;
}

#tm-main {
  margin-bottom: 5px;

  // Adjustment to ensure we're able to keep layouts inline with Polaris modifications
  p {
    line-height: 2rem;
  }

  .tm-tree {
    border-top: $border;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    user-select: none;

    &.drop,
    .drop {
      border-bottom: 3px solid #fff;
    }

    .tm-tree-item {
      padding-left: $indent * 2;
      padding-top: 0;

      .tm-tree-item-inner {
        cursor: pointer;
        margin-left: -2rem;
        padding-left: 2rem;
        align-items: center;
        display: flex;

        .tm-tree-item-expand-btn {
          min-width: unset;
        }

        .tm-scene-node-label {
          border-top: 1px solid $background-hover;
          display: grid;
          grid-template-columns: repeat(20, 1fr);
          align-items: center;

          .tm-scene-node-label-inner {
            flex: 0 0 100%;
            padding: 13px 50px 14px 20px;
            width: 100vw;
            margin: 0;
            white-space: nowrap;
          }

          .actions {
            background-color: var(--color-background-container-content-o88wxm, #ffffff); // fallback for gradient
            background: $background-gradient;
            position: sticky;
            right: 0;
            padding-right: 12px;
            color: $active-color;
          }
        }

        &:hover {
          margin-top: -1px; // Cancells out movement from hover/selected border
          margin-bottom: 0px; // Cancells out movement from hover/selected border
          @include hover;

          .tm-scene-node-label-inner {
            border: none;
            @include selected;
            margin-bottom: -1px;
            margin-top: -2px;
          }

          .actions {
            @include selected-action;
            margin-top: -3px;
            margin-bottom: -1px;
            padding: 12px 12px 13px 50px;
          }

          .tm-visibility-toggle,
          .tm-tree-item-expand-btn {
            svg {
              color: $active-color;
            }
          }
        }

        &.selected {
          @include selected;

          .tm-scene-node-label-inner {
            border: none;
            @include selected;
            margin-bottom: -1px;
            margin-top: -2px;
            margin-right: -30px;
          }

          .actions {
            @include selected-action;
            margin-top: -3px;
            margin-bottom: -1px;
            padding-bottom: 13px;
            padding: 12px 12px 13px 50px;
          }
        }
      }
    }

    // nested tree
    .tm-tree {
      border-top: none;
      position: initial;
      padding-left: 0;
      padding-bottom: 0;
    }
  }
}
