$background: #2a2e33;
$background-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(42, 46, 51, 1) 38%, rgba(42, 46, 51, 1) 100%);
$background-hover: #414750;
$border: 1px solid $background;
$text-color: #d5dbdb;
$active-highlight: #00a1c9;
$active-bg: #12293b;
$active-bg-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(18, 41, 59, 1) 38%, rgba(18, 41, 59, 1) 100%);
$indent: 1rem;
$active-color: #ec7211;

@mixin selected {
  border-top: 1px solid $active-highlight;
  border-bottom: 1px solid $active-highlight;
  background: $active-bg;
}
@mixin selected-action {
  @include selected;
  background: $active-bg-gradient;
  margin-top: -1px;
  margin-bottom: -1px;
}
@mixin hover {
  @include selected;
  color: $active-color;
}

  #tm-main {
    margin-bottom: 5px;

    .tm-tree {
      border-top: $border;
      list-style-position: outside;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: relative;
      user-select: none;

      &.drop,
      .drop {
        border-bottom: 3px solid #fff;
      }

      .tm-tree-item {
        padding-left: $indent * 2;
        border-top: 1px solid $background-hover;

        &::marker {
          padding: 0;
          margin: $indent * -1;
          display: inline-block;
        }

        .tm-tree-item-inner {
          cursor: pointer;
          margin-left: -2rem;
          padding-left: 2rem;


          .tm-scene-node-label {
            .tm-scene-node-label-inner {
              flex: 0 0 100%;
              padding: 16px;
              margin: -1px -20px -1px 0;
              padding-right: 20px;
              width: 100vw;
            }

            .actions {
              background-color: var(--color-background-container-content-o88wxm, #ffffff); // fallback for gradient
              background: $background-gradient;
              position: sticky;
              right: 0;
              padding: 12px 10px 12px 20px;
            }
          }

          label {
            width: 100%;
            align-items: center;
            padding-left: 1rem;

            span {
              span {
                align-items: center;
                display: flex;

                &:before {
                  box-shadow: none;
                }

                .tm-tree-item-expand-btn {
                  min-width: unset; 
                }
              }

              &[class*='awsui_control_'] {
                margin-top: 0;
              }
            }

            &:hover {
              margin-top: -1px; // Cancells out movement from hover/selected border
              margin-bottom: -1px; // Cancells out movement from hover/selected border
              @include hover;

              .tm-scene-node-label-inner {
                border: none;
                @include hover;
                margin-top: -4px;
                margin-bottom: -3px;
              }
              .actions {
                @include selected-action;

                button {
                  padding-top: 4px; 
                  padding-bottom: 4px; 
                  color: $active-color;
                }
              }
            }
          }

          &:hover {
            label {
              span {
                span {
                  color: $active-color; // this targets visibility icon
                }
              }
            }
          }

          &.selected {
            @include selected;
            .tm-scene-node-label-inner {
              border: none;
              @include selected;
              margin-top: -4px;
              margin-bottom: -3px;
            }
            .actions {
              @include selected-action;

              button {
                padding-top: 4px;
                padding-bottom: 4px;
              }
            }
          }
        }
      }

      .tm-draggable[draggable=true]::before {
        margin: 0;
        padding: 1.65rem 1rem;
      }

      // nested tree
      .tm-tree {
        border-top: none;
        position: initial;
        padding-left: 0;
        padding-bottom: 0;
      }
    }
  }
