.base-chart-legend-table-container {
  padding: 0 16px;
  height: 92%;
  overflow-y: auto;
}

/* this is make sure that the table header does not have any rounded border */
.base-chart-legend-table-container > div:first-of-type > div:first-of-type {
  border-radius: 0 !important;
}

.base-chart-legend-col-header {
  /* hardcoded to align with the trend name next to the color line */
  margin-left: 52px;
}

.base-chart-legend-row-data-container {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.base-chart-legend-row-line-ind {
  height: 4px;
  width: 20px;
  border-radius: 2px;
  margin-inline: 12px;
  transition: transform 250ms;
}

.base-chart-legend-row-data {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.base-chart-legend-row-line-ind-highlighted {
  transform: scale(1.5);
}

.base-chart-legend-row-line-container {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
}

.base-chart-legend-tc-header-color-marker {
  height: 4px;
  width: 100px;
  border-radius: 2px;
}

.base-chart-legend-tc-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base-chart-legend-tc-header-color {
  width: 100%;
  height: 4px;
}
