.tanstack-table-container {
  height: 92%;
  overflow: auto;
}

.tanstack-table {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.tanstack-table-sticky-header {
  position: sticky;
  z-index: 3;
  top: 0;
  cursor: pointer;
  text-align: left;
}

.tanstack-table-sticky-column {
  position: sticky;
  left: 0;
  cursor: default;
  text-align: left;
  z-index: 4;
  white-space: nowrap;
}

.tanstack-table-header-divider:not(:last-child)::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  min-height: 18px;
  max-height: 30px;
  margin: auto;
  border-left: 2px solid #e9ebed;
  box-sizing: border-box;
}

.tanstack-table-nonsticky-column-header {
  display: flex;
  align-items: center;
  white-space: nowrap;
  line-height: 1.2;
}

.tanstack-table-body {
  cursor: default;
  left: 0;
}

.tanstack-table-sticky-column-body {
  left: 0;
  position: sticky;
  z-index: 1;
  white-space: nowrap;
  cursor: default;
}
