.widget-tile {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.widget-tile-body {
  display: grid;
  flex: 1;
  overflow: hidden;
}

.horizontal-divider {
  width: 100%;
  height: 2px;
}

.widget-tile-header {
  overflow: hidden;
}

.widget-tile-header h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tile-button-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: -20px;
  z-index: 1;
}

.preview-button-container {
  display: flex;
}