.widget-tile {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.widget-tile-body {
  flex: 1;
}

.widget-tile-resize-handle {
  position: absolute;
  bottom: 0;
  right: 4px;
}

.horizontal-divider {
  width: 100%;
  height: 2px;
}
