.widget-tile {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.widget-tile-body {
  display: grid;
  flex: 1;
}

.horizontal-divider {
  width: 100%;
  height: 2px;
}

.widget-tile-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 22px;
}

.tile-button-contianer {
  display: flex;
}
