.App {
  text-align: center;
}

.SceneViewer {
  display: inline-block;
  min-height: 680px;
  min-width: 700px;
  width: 700px;
  height: 700px;
  /* resize: both;
  overflow: auto; */
}

.VideoPlayerComponent {
  position: absolute;
  min-height: 680px;
  min-width: 1200px;
  resize: both;
  overflow: auto;
}
.KnowledgeGraphComponent {
  display: inline-block;
  min-height: 800px;
  min-width: 800px;
  /* resize: both;
  overflow: auto; */
}

.text {
  margin: auto;
}
