@import "../../../styles/variables.css";

.palette-component-icon {
  width: var(--size-component-palette-icon);
  height: var(--size-component-palette-icon);
  border: var(--border-width-component-palette-icon) solid;
  border-color: var(--colors-grey);
  border-radius: var(--radius-component-palette-icon);
  color: var(--colors-black);
  fill: var(--colors-black);
  stroke: var(--colors-black);
  cursor: grab;
}

.palette-component-icon:hover,
.palette-component-icon-active {
  background-color: var(--colors-component-palette-active);
}
