.property-display {
  display: flex;
  align-items: start;
}

.property-display-summary {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.property-display-main {
  display: flex;
  align-items: center;
}

.property-display-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  width: 288px;
}
