@import url("../../styles/variables.css");

.selection-box {
  pointer-events: none;
  position: absolute;
  z-index: var(--stack-order-selection-box);

  /* z-index: 0; */
  border: var(--selection-border-width) solid var(--selection-color);
  border-radius: var(--selection-radius);

  /* font-weight: bold; */

  /* height: 100%; */
  user-select: none;
  box-sizing: border-box;
}

.selection-box-disabled {
  border-color: var(--selection-color-secondary);
}
