@import "../../styles/variables.css";

.widget {
  position: absolute;
  height: 100%;
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;
}

.widget-editable {
  /* Keeps widget in line with widget when selected */
  padding: var(--selection-border-width);
}

.widget-editable:hover {
  border: var(--selection-border-width) solid var(--selection-color-secondary);
  padding: 0; /* removes padding that was present to keep aligned when border is added on hover */
  cursor: all-scroll;
  border-radius: var(--selection-radius-small);
}

.widget-readonly {
  user-select: auto;
}

.widget-readonly:hover {
  cursor: default;
}

.widget-editable.widget-selected {
  border: var(--selection-border-width) solid var(--selection-color-secondary);
  border-radius: var(--selection-radius);
}

.widget-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
