@import "../../styles/variables.css";

.widget {
  position: absolute;
  height: 100%;
  user-select: none;
  box-sizing: border-box;
  border: var(--selection-border-width) solid var(--selection-bg-color);
}

.widget:hover {
  border: var(--selection-border-width) solid var(--selection-color-secondary);
  cursor: all-scroll;
  border-radius: var(--selection-radius-small);
}

.widget-readonly {
  user-select: auto;
}

.widget-readonly:hover {
  cursor: default;
}

.widget-selected {
  border: var(--selection-border-width) solid var(--selection-color-secondary);
  border-radius: var(--selection-radius);
}

.widget-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
