@import "../../../styles/variables.css";

.resource-explorer-panel-asset-property-drag-handle {
  cursor: grab;
  padding: 2px 10px;
  outline: 1px solid var(--colors-light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--selection-border-width);
}

.resource-explorer-panel-asset-property-drag-handle-dragging > * {
  opacity: 0;
}

.resouce-explorer-panel-asset {
  display: flex;
  align-items: center;
}

.resouce-explorer-panel-asset-ghost {
  outline: 1px solid var(--colors-light-grey);
  opacity: 0.5;
  width: var(--size-asset-ghost-width);
  border-radius: var(--selection-border-width);
  box-shadow: 0 0 0 var(--selection-border-width) var(--selection-color) inset;
}

.resource-explorer-panel-asset-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
