@import "../../../styles/variables.css";

.resource-explorer-panel-asset-property-drag-handle {
  cursor: grab;
  padding: 5px 10px;
  outline: 1px solid var(--colors-light-grey);
  margin: -4px -2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--selection-border-width);
  overflow: hidden;
}

.resource-explorer-panel-asset-property-drag-handle span {
  overflow: hidden;
  height: 20px;
  margin-right: 10px;
}

.resource-explorer-panel-asset-property-drag-handle-dragging > * {
  opacity: 0;
}

.resource-explorer-panel-asset-property-drag-ghost {
  padding: 2px 2px 2px 10px;
  background-color: #fff;
  outline: 1px solid var(--colors-light-grey);
  display: flex;
  width: 250px;
  opacity: 0.5;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--selection-border-width);
  box-shadow: 0 0 0 var(--selection-border-width) var(--selection-color) inset;
}

.resource-explorer-panel-asset-property-drag-ghost span {
  font-weight: 300 !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 37px;
}

.resource-explorer-panel-drag-icon {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resource-explorer-panel-drag-icon span {
  margin: 0;
  padding: 0;
  transform-origin: center;
  transform: rotate(45deg);
}
