.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  visibility: hidden;
  z-index: 99;
  text-align: center;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}

.top {
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
}

.bottom {
  top: 115%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
}

.left {
  top: 50%;
  left: 10%;
  transform: translateX(-100%) translateY(-50%);
}

.right {
  top: 50%;
  left: 90%;
  transform: translateX(0) translateY(-50%);
}

.tooltip-text::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-color: transparent;
}

.top::before,
.top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.top::before {
  border-top: 10px solid black;
}

.top::after {
  border-top: 10px solid white;
  margin-top: -2px;
  z-index: 1;
}

.tooltip-text.bottom::before,
.tooltip-text.bottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-width: 10px;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.tooltip-text.bottom::before {
  border-bottom: 10px solid black;
}

.tooltip-text.bottom::after {
  border-bottom: 10px solid white;
  margin-bottom: -2px;
  z-index: 1;
}

.left::before,
.left::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.left::before {
  border-left: 10px solid black;
}

.left::after {
  border-left: 10px solid white;
  margin-left: -2px;
  z-index: 1;
}

.right::before,
.right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.right::before {
  border-right: 10px solid black;
}

.right::after {
  border-right: 10px solid white;
  margin-right: -2px;
  z-index: 1;
}
