.iot-context-menu-option {
  color: var(--selection-bg-color);
  background-color: var(--colors-dark-grey);
  font-weight: var(--font-weight-context-menu);
  font-size: var(--font-size-context-menu);
  padding: var(--spacing-context-menu-option);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.iot-context-menu-option:hover {
  background-color: var(--colors-blue);
}

.iot-context-menu-option-disabled {
  color: var(--colors-light-grey);
  cursor: not-allowed;
}
