.expandable-section-header-icon {
  margin-left: auto;
}

.section-item-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  height: 100%;
}

.section-item-label {
  align-items: center;
  display: flex;
  height: 100%;
}

.justify-content-end {
  display: flex;
  justify-content: end;
}

.color-picker {
  width: 2.28rem;
  height: 1.57rem;
  border-radius: 0.57rem;
}

.color-picker:focus {
  outline: 2px solid #06f;
  outline-offset: 1.5px; /* added extra half pixel incase outline color and color picked are similar */
}

/* hide default color input */
.color-picker-container > input {
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.align-items-center {
  display: flex;
  align-items: center;
  height: 100%;
}

/* removes the color input box in Chrome */
input[type="color"]::-webkit-color-swatch {
  border: none;
}

/* removes the color input box in Edge/Firefox */
input[type="color"]::-moz-color-swatch {
  border: none;
}
