version: '3.0'

name: iot-app-kit-scene-composer

services:
  playwright:
    container_name: iot-app-kit-scene-composer
    image: mcr.microsoft.com/playwright:v1.39.0-focal
    build: .
    volumes:
      - ../../:/iot-app-kit
    ports:
      - 9323:9323/tcp
      - 7006:7006/tcp
    working_dir: '/iot-app-kit/packages/scene-composer'
    command: sh -c "npx playwright install chromium"
