.text-configuration {
  display: grid;
  grid-template-columns: repeat(2, max-content 1fr);
  align-items: center;
}

.text-button-toggle {
  cursor: pointer;
  border: var(--border-width-button) solid var(--colors-grey);
  border-radius: var(--radius-component-palette-icon);
  height: var(--size-text-button-icon);
  width: var(--size-text-button-icon);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-button-toggle:hover {
  background-color: var(--colors-blue);
  color: var(--colors-white);
  border-color: var(--colors-blue);
}

.text-button-toggle.checked {
  color: var(--colors-black);
  background-color: var(--colors-blue);
  border-color: var(--colors-blue);
}

.link-configuration {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.link-input {
  flex-grow: 1;
}

.text-setting-style-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.expandable-section-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.grid-content-align-item-center {
  display: flex;
  align-items: center;
  height: 100%;
}
