@import '../../styles/variables.css';

.dashboard {
  height: calc(100vh - var(--dashboard-header-height));
  display: flex;
  flex-direction: column;

  /**
    * css resets to prevent parent styles affecting the dashboard
    */
  text-align: initial;
}

.dashboard * {
  box-sizing: initial;
}

.dashboard .divider {
  width: 2px;
  height: 70px;
  background: var(--colors-light-grey);
}

.dashboard .display-area {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}

.dashboard .dashboard-toolbar,
.dashboard .dashboard-toolbar-read-only {
  background-color: var(--colors-white);
}

.dashboard .dashboard-toolbar .dashboard-toolbar-read-only {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: auto;
}

.side_panels_collapsed_style {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.collapsible-panel-content {
  min-height: 0;
  overflow-y: scroll;
  flex-grow: 1;
}

.collapsible-panel-vertical-divider {
  width: 2px;
  height: 26px;
  margin-top: 3px;
}

.collapsible-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.collapsible-panel-header-container {
  border-bottom: 2px solid;
}

.collapsible-panel {
  position: relative;
}

.collapsible-panel-left,
.collapsible-panel-right {
  width: 15%;
  min-width: 0;
  height: 100%;
  max-height: calc(100vh - var(--toolbar-overlay-height));
  z-index: var(--stack-order-grid-inputs);
  background-color: var(--colors-white);
}

.collapsible-panel-right {
  border-left: 2px solid var(--colors-grey-border);
}


.center-pane-container {
  position: relative;
}
