@import '../../styles/variables.css';

.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;

  /**
    * css resets to prevent parent styles affecting the dashboard
    */
  text-align: initial;
}

.dashboard .divider {
  width: 2px;
  height: 70px;
  background: var(--colors-light-grey);
}

.dashboard .display-area {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}

.dashboard .dashboard-toolbar,
.dashboard .dashboard-toolbar-read-only {
  border-bottom: var(--border-width-toolbar) solid var(--colors-light-grey);
  background-color: var(--colors-white);
}

.dashboard .dashboard-toolbar-read-only {
  display: inline;
}

.dashboard .dashboard-toolbar {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: auto;
}