:root {
  --selection-color: #0d99ff;
  --selection-color-secondary: #9cccef;
  --selection-bg-color: white;
  --selection-box-size: 12px;
  --selection-radius: 8px;
  --selection-border-width: 2px;
  --selection-border-touch-width: 8px;
  --selection-radius-small: 4px;
}
