@import "../../variables.css";

:host {
  position: absolute;
}

.selection-box {
  position: relative;
  border: var(--selection-border-width) solid var(--selection-color);
  border-radius: var(--selection-radius);
  font-weight: bold;
  height: 100%;
  user-select: none;
  box-sizing: border-box;
}
