.tm-draggable[draggable=true] {
  cursor: grab;

  &::before {
    content: url("data:image/svg+xml,%3Csvg width='4' height='19' viewBox='0 0 4 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.5' y1='0.5' x2='0.499999' y2='18.5' stroke='%23879596'/%3E%3Cline x1='2.96094' y1='0.5' x2='2.96094' y2='18.5' stroke='%23879596'/%3E%3C/svg%3E");
    position: absolute;
    left: 0;
    margin: 1.6rem 1rem 1rem 0.75rem;
  }
}
