@use '@awsui/design-tokens/index.scss' as awsui;

.color-picker .react-colorful {
  width: auto
}

.color-picker .react-colorful__saturation {
  border-radius: 5px;
  border-bottom: none;
}

.color-picker .react-colorful__hue {
  margin-top: 24px;
  margin-bottom: 20px;
  height: 22px;
  border-radius: 12px;
}

.color-picker .react-colorful__hue-pointer,
.react-colorful__saturation-pointer {
  width: 28px;
  height: 28px;
}

.color-picker-wrapper {
  width: auto;
  max-width: 260px;
  padding: 16px;
  border-radius: 12px;
  background: awsui.$color-background-item-selected;
  box-shadow: 0 4px 8px black;
}

.flexible-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 30px;
}