name: Build and Deploy
on:
  push:
    branches:
      - main
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: 'true'

      - name: Set node version
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Cache npm packages
        id: npm-cache
        uses: actions/cache@v5
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node_modules-${{hashFiles('**/package-lock.json')}}
          restore-keys: |
            ${{ runner.os }}-node_modules-

      - name: Install
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run: npm ci --workspaces --include-workspace-root

      - name: Turbo cache
        uses: actions/cache@v5
        with:
          path: '.turbo'
          key: ${{ runner.os }}-turbo-doc-site-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-doc-site-

      - name: Build
        run: npx turbo run build --filter=@iot-app-kit/doc-site

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # Upload folder
          path: apps/doc-site/storybook-static

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
