name: "Lint PR title and commit message"

on:
  pull_request:

permissions:
  contents: read

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Install commit lint config
        run: npm i @commitlint/config-conventional
      - name: Validate current commit (last commit) with commitlint
        run: npx commitlint --from HEAD~1 --verbose
