name: NPM Publish
on:
  push:
    branches:
      - main
jobs:
  publish-to-npm:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
          registry-url: 'https://registry.npmjs.org'

      - name: Install and Build
        run: |
          npm ci
          npm run build

      - name: Publish @iot-app-kit/core
        uses: JS-DevTools/npm-publish@v1
        with:
          package: './packages/core/package.json'
          token: ${{ secrets.NPM_TOKEN }}

      - name: Publish @iot-app-kit/components
        uses: JS-DevTools/npm-publish@v1
        with:
          package: './packages/components/package.json'
          token: ${{ secrets.NPM_TOKEN }}

      - name: Publish @iot-app-kit/source-iotsitewise
        uses: JS-DevTools/npm-publish@v1
        with:
          package: './packages/source-iotsitewise/package.json'
          token: ${{ secrets.NPM_TOKEN }}

      - name: Publish @iot-app-kit/related-table
        uses: JS-DevTools/npm-publish@v1
        with:
          package: './packages/related-table/package.json'
          token: ${{ secrets.NPM_TOKEN }}

      - name: Publish @iot-app-kit/react-components
        uses: JS-DevTools/npm-publish@v1
        with:
          package: './packages/react-components/package.json'
          token: ${{ secrets.NPM_TOKEN }}

      - name: Publish @iot-app-kit/table
        uses: JS-DevTools/npm-publish@v1
        with:
          package: './packages/table/package.json'
          token: ${{ secrets.NPM_TOKEN }}
