name: UI Tests - Full run
on: [pull_request]
jobs:
  e2e-tests-playwright-full-suite:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Cache playwright binaries
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}
      - name: Install
        run:
          npm ci --prefer-offline --no-audit --no-fund && npm run bootstrap

      - name: Install Playwright's dependencies
        run: npx playwright install --with-deps

      - name: test UI
        run:
          npm run test:ui -w @iot-app-kit/dashboard && npm run test:ui -w @iot-app-kit/react-components && npm run test:ui:reliability -w @iot-app-kit/scene-composer
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: Playwright failed test-results
          path: packages/**/test-results
          retention-days: 30
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: packages/**/playwright-report
          retention-days: 30
