name: 'UI Test Reliability Check'

# We only run this on PRs that have the label "test:reliability", otherwise it's excluded.
# Add this label anytime there are new UI tests added, or you want to verify a change still
# reliabily passes tests
on:
  pull_request:
    types: [labeled]

env:
  PW_TEST_HTML_REPORT_OPEN: 'never'

jobs:
  test-reliability:
    if: ${{ github.event.label.name == 'test:reliability' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
          lfs: 'true'
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Cache playwright binaries
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}

      - name: Install
        env:
          NODE_OPTIONS: '--max_old_space_size=8192'
        run: npm ci --prefer-offline --no-audit --no-fund && npm run bootstrap

      - name: Install Playwright's dependencies
        run: npx playwright install --with-deps

      - name: test reliability
        run: npm run test:reliability --production

      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: Playwright failed test-results
          path: packages/**/test-results
          retention-days: 30
      - uses: actions/upload-artifact@v5
        if: always()
        with:
          name: playwright-report
          path: packages/**/playwright-report
          retention-days: 30
