.expandable-section-header-icon {
  margin-left: auto;
}

.section-item-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  height: 100%;
}

.section-item-label {
  min-width: fit-content;
  align-items: center;
  display: flex;
}
