.expandable-section-header-icon {
  margin-left: auto;
}

.section-item-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  height: 100%;
}

.section-item-label {
  align-items: center;
  display: flex;
  height: 100%;
}

.justify-content-end {
  display: flex;
  justify-content: end;
}

.color-picker-container {
  width: 2.28rem;
  height: 1.57rem;
  border-radius: 0.57rem;
}

/* hide default color input */
.color-picker-container > input {
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.align-items-center {
  display: flex;
  align-items: center;
  height: 100%;
}
